.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;
}

header {
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.col-1 {
    display: flex;
    flex-flow: column wrap;
    background-color: lightcoral;
    width: 100%;
    flex-grow: 2;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.item {
    margin: 10px;
    box-sizing: border-box;
}

img {
    border-radius: 10px;
    width: 100%;
}


@media (max-width: 500px) {
    .item {
        width: 40%;
        margin: 1px;
    }
    .col-1{
        max-height: 800px;
    }
}

@media (min-width: 500px) {
    .item {
        width: 40%;
        margin: 1px;
    }
    .col-1{
        max-height: 1100px;
    }
}

@media (min-width: 700px) {
    .container {
        flex-direction: row;
    }
    .item {
        width: 30%;
    }
    .col-1 {
        max-height: 800px;
    }
}

@media (min-width: 980px) {
    .col-1 {
        max-height: 1200px;
    }
}

@media (min-width: 1450px) {
    .col-1{
        max-height: 1500px;
    }

}

@media (min-width: 1800px) {
    .item {
        width: 20%;
    }
    .col-1{
        max-height: 1100px;
    }

}