
.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightblue;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    display: flex;
    flex-flow: column wrap;
    background-color: lightcoral;
    vertical-align: baseline;
    width: 100%;
    overflow: hidden;
    max-height: 1200px;
    flex-grow: 2;
}

.item {
    overflow: auto;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: auto;
}

img {
    overflow: auto;
    border-radius: 5px;
    width: 100%
}

@media (max-width: 500px) {
    .item {
        width: 29%;
    }
    .col-1{
        max-height: 550px;
    }
}

@media (max-width: 400px) {
    .item {
        width: 29%;
    }
    .col-1{
        max-height: 450px;
    }
}

@media (min-width: 500px) {
    .container {
        flex-direction: row;
    }

    .item {
        width: 30%;
    }
}

@media (min-width: 1500px) {
    .item {
        width: 30%;
    }

    .col-1{
        max-height: 1500px;
    }

}

@media (min-width: 1835px) {
    .item {
        width: 20%;
    }

    .col-1{
        max-height: 1000px;
    }

}