
.container {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-items: stretch;
}

header {
    background-color: lightblue;
    text-align: center;
}

.col-1 {
    background-color: lightcoral;
    text-align: center;
}


img {
    width: 236px;
    padding: 15px;
}

@media (max-width: 500px) {
    img {
        width: 150px;
    }
}

@media (min-width: 500px) {
    .container {
        flex-direction: row;
    }

    .col-1 {
        align-items: center;
    }

    header {
        width: 300px;
    }
}